<section class="flex flex-col gap-y-3">
  <h2 class="text-xl font-bold">About</h2>
  <p class="text-pretty font-ibm-mono text-sm text-muted">
    I am a self-taught, versatile junior engineer eager to learn and grow in both front-end
    and back-end engineering. I am a highly adaptable learner with a keen eye
    for detail and experience with TypeScript, React, and Next.js.
  </p>
</section>
