<section class="flex flex-col gap-y-3">
  <h2 class="text-xl font-bold">Education</h2>
  <div class="flex items-center justify-between">
    <h3 class="font-semibold">University of California, Los Angeles</h3>
    <span class="text-muted text-sm">2021 — 2023</span>
  </div>
  <p class="text-sm font-ibm-mono text-muted">Bachelor's Degree in Economics</p>
</section>
