---
import { Icon } from 'astro-icon/components';
import SocialLink from './SocialLink.astro';
---

<header class="flex items-center justify-between">
  <div class="flex-1 space-y-2">
    <h1 class="text-2xl font-bold">Michael Mkrtchyan</h1>

    <p class="max-w-md text-pretty font-ibm-mono text-sm text-muted">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates sequi
      iure consequuntur eveniet.
    </p>

    <p class="max-w-md items-center text-xs font-ibm-mono text-muted">
      <span class="inline-flex gap-x-1.5 items-center align-baseline">
        <Icon name="globe" class="text-muted" />
        Los Angeles, California</span
      >
    </p>

    <div class="flex gap-x-1 pt-1 text-muted">
      <SocialLink
        name="email"
        title="email icon"
        link="mailto:michaelmkrtch.dev@gmail.com"
      />
      <SocialLink
        name="github"
        title="github icon"
        link="https://github.com/MichaelMkrtch"
      />
      <SocialLink
        name="linkedin"
        title="linkedin icon"
        link="https://www.linkedin.com/in/michaelmkr/"
      />
    </div>
  </div>
  <span class="flex shrink-0 rounded-xl size-28 bg-muted">Image </span>
</header>
