---
import Badge from './Badge.astro';
---

<section class="flex flex-col gap-y-3">
  <h2 class="text-xl font-bold">Skills</h2>
  <div class="flex flex-wrap gap-1">
    <Badge>HTML/CSS/Tailwind</Badge>
    <Badge>JavaScript</Badge>
    <Badge>TypeScript</Badge>
    <Badge>React/NextJS</Badge>
    <Badge>Astro</Badge>
    <Badge>SQL/Supabase</Badge>
  </div>
</section>
