---
import Badge from './Badge.astro';
---

<section class="flex flex-col gap-y-3">
  <h2 class="text-xl font-bold">Skills</h2>
  <div class="flex flex-wrap gap-1">
    <Badge>JavaScript</Badge>
    <Badge>TypeScript</Badge>
    <Badge>React/Next.js</Badge>
    <Badge>Astro</Badge>
    <Badge>Python</Badge>
    <Badge>HTML/CSS</Badge>
    <Badge>SQL</Badge>
  </div>
</section>
