---
import { Icon } from 'astro-icon/components';

const { name, title, link } = Astro.props;
---

<a
  href={link}
  class="size-8 border inline-flex items-center justify-center rounded-md hover:bg-neutral-100 cursor-pointer transition-colors duration-150 group"
>
  <Icon name={name} title={title} class="text-muted group-hover:text-accent" />
</a>
